# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://hoaxrkhwzmtohhwibsih.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvYXhya2h3em10b2hod2lic2loIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3Nzg2NDksImV4cCI6MjA3OTM1NDY0OX0.4YO8AFvOs2ELfGe0FS5uQ4pSD_p60FtGSpPezGLsPYE
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR-API-KEY-HERE